<!DOCTYPE html>
<html lang="en">

<head>
	<title>Salvatore Finizio</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "blog/css/bootstrap.min.css" %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static "blog/css/homestyles.css" %}"  type = "text/css" />
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>


<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<a href='/'>
					<img src="{% static 'blog/images/index.jpeg' %}" class="responsive-img" style='max-height:100000px;' alt="immagine">
				</a>
					</center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <img src="{% static 'blog/images/logo.jpeg' %}" class="responsive-img" style='max-height:100000px;' alt="immagine">
				  </center>
			  </div>
		</div><hr>

<div class="basic">


	<form id="searchbox" method="post"  action = "{% url "search" %}" >
			{% csrf_token %}
	    <input name = keyword id="keyword" type="text" placeholder="Type here...">
	    <input id="submit"  type="submit" value="Search" >
	</form>


</div>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
			<div class="container-fluid" style='margin-left:15px'>
				<p> <a href='/redirectfb/' target="blank">facebook</a> | <a href='/redirectgg/' target="blank">Google+</a></p>
			</div>
	</footer>

</body>

</html>
